<div class="row">
    <h2 class="span11">{{ title }}</h2>
    <h4 class="span1">{{ year }}</h4>
</div>
<div class="row">
    <div class="span3">
    <a href="#" class="thumbnail">
        <img src="{{ img }}" alt="{{ title }}">
  </a>
  </div>
  <div class="span9">
      {{{ description }}}
  </div>
</div>

